#about {
      background-color: var(--surface-color);
      flex-direction: column;
      gap: 2rem;
      
      color: var(--text-color-secondary);

      & h1 {
            color: var(--text-color-primary);
      }

      & main {
            flex-direction: column;
            gap: 1rem;
      }

      & main div {
            display: flex;
            flex-direction: column;
            gap: .5rem;
      }

      & main img {
            width: 7.5rem;
            height: 7.5rem;
      }

      .info ul {
            flex-direction: column;
            list-style: none;
      }

      .info ul img {
            width: 1.5rem;
            height: 1.5rem;
      }

      .info li {
            gap: .5rem;
            align-items: center;
      }
}

@media (width >= 80em) {
      #about {

            flex-direction: row;

            & main {
                  flex-direction: row;
                  gap: 2rem;
            }

            & main img {
                  width: 11rem;
                  height: 11rem;
            }

            & main div {
                  max-width: 24rem;
            }

            .info {
                  width: 17.5rem;
                  align-self: center;
                  margin-left: auto;
            }

            .info ul {
                  align-self: center;
            }
      }
}