nav {

      background-color: var(--surface-color);

      align-items: center;
      justify-content: space-between;

      & menu {
            align-items: center;
            color: var(--text-color-secondary);
      }


      & menu a:hover {
            color: var(--brand-color);
            text-decoration:underline;
      }

      & menu a:nth-child(4) img {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
      }
}