#app-name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: .75rem 1.25rem;
      gap: .5rem;

      position: absolute;
      width: 8.6875rem;
      height: 3.5rem;
      left: 0rem;
      top: 0rem;


      background: #2E2C30;
      border-radius: 0rem 0rem .75rem 0rem;
}


