#remove-item-message {
      margin: auto;
      max-width: 20.4375rem;
      align-items: center;
      margin-top: 2.25rem;
      height: 2.75rem;
      padding-inline: .75rem;
      padding-block: .75rem;

      background-color: var(--color-danger);
      border-radius: .75rem;
      justify-content: center;

      & div {
            flex-direction: row;
            gap: .5rem;
            margin-right: auto;
            
            & label {
                  color: var(--always-white);
            }
      }
}

@media (width>= 80em) {
      #remove-item-message {
            max-width: 39.1875rem;
      }
}