

.flex {
      display: flex;
}

.gap-1 {
      gap: 1rem;
}

.gap-0\.75 {
      gap: .75rem;
}

.padding-block-small {
      padding-block: .75rem;
}

.padding-inline-small {
      padding-inline: .75rem;
}

.margin-top-2\.5 {
      margin-top: 2.5rem;
}

.margin-bottom-2\.25 {
      margin-bottom: 2.25rem;
}

.desktop-only {
      display: none;
}

@media (width >= 80em) {
      .padding-block-small {
            padding-block: .5rem;
      }

      .desktop-only {
            display: inherit;
      }
}