*, 
*::before,
*::after {
      box-sizing: border-box;
}

* {
      margin: 0;
      padding: 0;
      font: inherit;

      --webkit-font-smoothing: antialiased;
      --moz-osx-font-smoothing: grayscale;
}


:root {
      /* Cores */

            /* Brand */
      --brand-light: #F67841;
      --brand-mid: #F3541C;
      --brand-dark: #E43A12;

            /* Text */

      --text-primary: #292524;
      --text-secondary: #57534E;
      --text-tertiary: #8F8881;
      --text-highlight: #E43A12;

            /* Surface */

      --surface-primary: #FFF;
      --surface-secondary: #FEE7D6;
      --surface-disabled: #E7E5E4;

            /* Stroke */

      --stroke-default: #D6D3D1;
      --stroke-highlight: #F3541C;

            /* Semantic */

      --semantic-error: #DC2626;

            /* Supporting */

      --orange: #F9A474;
      --yellow: #FEDF6F;
      --green: #C7D78D;
      --blue: #B8CEDC;
      --pink: #F682A5;

      /* Fontes */


            /* Tipografias */

      --poppins: 'Poppins', sans-serif;
      --schoolbell: 'Schoolbell', sans-serif;

            /* Tamanhos */

      --font-weight: 600;

      --font-size-base: 1rem;
      --font-size-small: 1.25rem;
      --font-size-medium: 1.5rem;
      --font-size-large: 2rem; 


      /* Espaçamentos */

      --padding-block-small: 1.25rem;
      --padding-block-medium: 1.5rem;
      --padding-block-large: 3rem;

      --padding-inline-small: 1.5rem;
      
}

html {
      font-family: var(--poppins);
}

h1, h2, h3 {
      line-height: 120%;
      font-weight: var(--font-weight);
      letter-spacing: -0.04em;
}

h1 {
      font-size: var(--font-size-large);
}

h2 {
      font-size: var(--font-size-medium);
}

h3 {
      font-size: var(--font-size-small);
}

h4 {
      font-size: var(--font-size-base);
}

@media (width >= 80em) {
      :root {
            --padding-block-small: 1.5rem;
            --padding-block-medium: 3rem;
            --padding-block-large:4rem;
            
            --padding-inline-small: 4rem;

            --font-size-base: .875rem;
            --font-size-small: 1rem;
            --font-size-medium: 1.5rem;
            --font-size-large: 2.5rem; 
      }
}