#forms {
      background-color: var(--surface-primary);
      flex-direction: column;
      gap: var(--padding-block-large);

      & input[type="checkbox"] {
            appearance: none; /* Remove o estilo padrão do navegador */
            width: 1.5rem;
            height: 1.5rem;
            border: 2px solid #ccc; /* Borda inicial */
            border-radius: .25rem; /* Bordas arredondadas */
            background-color: #fff; /* Fundo inicial */
            cursor: pointer;
            transition: background-color 0.3s ease, border-color 0.3s ease;
      }

      & input[type="checkbox"]:checked {
            content: '✓';
            background-color: var(--stroke-highlight); /* Fundo azul ao marcar */
            border: none;
            color: #fff; /* Cor do checkmark */
      }

      & input:focus, 
      textarea:focus, 
      select:focus {
            outline: var(--stroke-highlight);
            border: .125rem solid var(--stroke-highlight);
            box-shadow: 1 1 .625rem var(--surface-secondary); 
      }

      & input:disabled, 
      textarea:disabled, 
      select:disabled {
        background-color: #f0f0f0; /* Cor de fundo */
        color: var(--surface-disabled); /* Cor do texto */
        border: 1px solid var(--stroke-default); /* Cor da borda */
        cursor: not-allowed; /* Indica que está desativado */
      }

      & label {
            color: var(--text-secondary);
      }

      & #general-commands {
            flex-direction: column;
            gap: 1.5rem;
      }

      & #return > span {
            cursor: pointer;
            flex-direction: row;
            gap: .5rem;
            align-items: center;
            color: var(--text-secondary);
      }

      & #header {
            flex-direction: column;
            gap: .5rem;
      }


      #header p {
            color: var(--text-secondary);
            font-size: 1rem;
            font-weight: normal;
            font-family: var(--poppins);
      }

      & form {
            flex-direction: column;
            gap: var(--padding-block-large);

            & fieldset {
                  border: none;
                  gap: 1.5rem;
            }

            & fieldset input {
                  border-radius: .5rem;
                  height: 3rem;

            }

            & fieldset .field {
                  border-radius: .5rem;
                  padding-block: .75rem;
                  padding-inline: 1rem;
            }

            & fieldset textarea {
                  height: 7.5rem;
            }

            & #child-info, #address, #responsible-info, #matricula-info {
                  flex-direction: column;
            }
            
            & .container {
                  flex-direction: column;
                  gap: var(--padding-block-small);
            }

            & .form-control {
                  flex-direction: column;
                  max-width: 19.5rem;
                  gap: .25rem;
            }     

            & .justify-self {
                  display: flex;
                  flex-direction: column;
                  gap: 1.25rem;
            }

            & #responsible-message {
                  color: #78716C;
            }

            & .school-shift {
                  flex-direction: column;
                  gap: 1rem;
            }

            & .container-school-shift {
                  flex-direction: row;
                  gap: 1rem;
                  
                  & .options-div {
                        border-radius: .5rem;
                        width: 9.25rem;
                        height: 8rem;
                        flex-direction: row;
                        border: .125rem solid var(--stroke-default);
                        justify-content: center;
                        align-items: center;
                        position: relative;
                  }

                  & .options-div input {
                        position: absolute;
                        top: .5rem;
                        left: .5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                  }
            }

            & .sports {
                  flex-direction: column;
                  gap: 1rem;

                  & .container-sports {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 1rem;
                  }

                  & .options-div {
                        border-radius: .5rem;
                        width: 9.25rem;
                        height: 8rem;
                        flex-direction: row;
                        border: .125rem solid var(--stroke-default);
                        justify-content: center;
                        align-items: center;
                        position: relative;
                  }

                  & .options-div input {
                        position: absolute;
                        top: .5rem;
                        left: .5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                  }

                  & .options-div label {
                        flex-direction: column;
                        align-items: center;
                  }
                  
            }

            & #terms-accept {
                  flex-direction: row;
                  gap: .75rem;
                  max-width: 19.5rem;

                  & input {
                        align-self: flex-start;
                        justify-self: flex-start;
                  }

                  & span {
                        color: var(--text-highlight);
                        font-weight: var(--font-weight);
                  }
            }

            & #actions {
                  flex-direction: column;
                  font-size: 1rem;
                  font-weight: var(--font-weight);

                  & button {
                        height: 3rem;
                        padding-block: .75rem;
                        padding-inline: 1.5rem;
                        border-radius: .5rem;
                        
                  }

                  & button:nth-child(1) {
                        color: var(--text-highlight);
                        background-color: #fff;
                        border: .125rem solid var(--text-highlight);
                  }
                  
                  & button:nth-child(2) {
                        background-color: var(--text-highlight);
                        border: none;
                        color: #fff;
                  }
            } 
      
      }

}


#ad {
      flex-direction: column;
      gap: .75rem;
      align-items: center;
      background-color: var(--surface-secondary);

      & > img {
            max-width: 19.5rem;
            max-height: 14.5rem;
      }

      & #logo {
            align-items: center;
            gap: .5rem;
      }


}

@media (width >= 80em) {

      #forms {
            max-width: 41rem;
            gap: var(--padding-block-medium);

            & form {
                  gap: var(--padding-block-medium);

                  & .form-control {
                        max-width: 33rem;
                  }

                  & .justify-self {
                        display: flex;
                        flex-direction: row;
                        gap: 1.25rem;
                  }

                  & .max-width-332px {
                        max-width: 20.75rem;
                  }

                  & .max-width-176px {
                        max-width: 11rem;
                  }


                  & .container-school-shift {

                        & .options-div {
                              width: 16rem;
                              height: 8rem;
                        }
                  }

                  & .sports {
      
                        & .options-div {
                              width: 7.5rem;
                        }
      
                        
                  }

                  & #terms-accept {

                        max-width: 33rem;

                  }

                  & #actions {
                        flex-direction: row;
                        justify-content: flex-end;

                  }
            }
      }

      #ad {
            gap: 2rem;

            & > img {
                  max-width: 31rem;
                  max-height: 23rem;
            }

            & #text-ad-area {
                  flex-direction: column;
                  max-width: 31rem;
            }

            & h1 {
                  color: var(--text-primary);
                  margin-bottom: .5rem;
                  margin-top: .5rem;
            }
      
            & p {
      
                  color: var(--text-secondary);
                  font-size: 1rem;
                  font-weight: normal;
                  font-family: var(--poppins);
            }

            & #logo #font-schoolbell {
                  font-family: var(--schoolbell);
                  color: var(--text-primary);
                  font-size: 1.25rem;
            }
      
      
            & #orange-color {
                  color: var(--text-highlight);
            }
      }
}